.slide-background{
    background-color: #FEEAE9;
}
.Watch-background{
background-color: orange;
}
.Bag-background{
background-color: orchid;
}
.Shoes-background{
background-color: blue;
}
.submit-background{
    background-color: #fceae8;
}
.Catagories img{
    width: 100px;
}